.vs/
.vscode/
bin/
out/
cmake-build-*/
backup/
CMakeSettings.json
CMakePresets.json

/pages/resources/language/*/*.qm
build
/*/build
/*/*/build
/*/bin/*-debug
/*/bin/*-release
/*/*/bin/*-debug
/*/*/bin/*-release

/triLibrary/*/build
/triLibrary/prebuildlib/*/*/*
/triLibrary/out
/triLibrary/*/out

CMakeLists.txt.user
build
bin

