QWidget#RenderZMainPage {
    background: #FFFFFF;
    min-width: 960px;
    min-height: 680px;
    border-radius: 6px;
    border: 1px solid rgba(24,24,24,0.15);
}

QWidget#RenderZMainPage QPushButton#extBtn {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 5px;
    background-color: #FFFFFF;
    background-image:url('/../image/bun_open.png')
}
